[submodule "Externals/ambi_tilde"]
	path = Externals/ambi_tilde
	url = https://github.com/charlesneimog/pd-ambi.git
[submodule "Externals/pd-partialtrack"]
	path = Externals/pd-partialtrack
	url = https://github.com/charlesneimog/pd-partialtrack.git
[submodule "Sources/lua/pd-upic"]
	path = Sources/lua/pd-upic
	url = https://github.com/charlesneimog/pd-upic.git
[submodule "Sources/lua/pd-orchidea"]
	path = Sources/lua/pd-orchidea
	url = https://github.com/charlesneimog/pd-orchidea.git
[submodule "Sources/pd-ambi"]
	path = Sources/pd-ambi
	url = https://github.com/charlesneimog/pd-ambi
[submodule "Sources/pd-saf"]
	path = Sources/pd-saf
	url = git@github.com:charlesneimog/pd-saf.git
[submodule "Sources/py4pd"]
	path = Sources/py4pd
	url = https://github.com/charlesneimog/py4pd
[submodule "Sources/patcherize"]
	path = Sources/patcherize
	url = https://github.com/charlesneimog/punish
[submodule "Sources/convolve_tilde"]
	path = Sources/convolve_tilde
	url = https://github.com/wbrent/convolve_tilde
[submodule "Sources/piro"]
	path = Sources/piro
	url = https://github.com/charlesneimog/piro.git
[submodule "Sources/vst3/Fire"]
	path = Sources/vst3/Fire
	url = https://github.com/jerryuhoo/Fire
[submodule "Sources/vst3/dragonfly"]
	path = Sources/vst3/dragonfly
	url = https://github.com/michaelwillis/dragonfly-reverb
[submodule "Sources/vstplugin~"]
	path = Sources/vstplugin~
	url = https://git.iem.at/pd/vstplugin.git
[submodule "Sources/onnx"]
	path = Sources/onnx
	url = https://github.com/charlesneimog/pd-onnx
