[submodule "Externals/ambi_tilde"]
	path = Externals/ambi_tilde
	url = https://github.com/charlesneimog/pd-ambi.git
[submodule "Externals/pd-partialtrack"]
	path = Externals/pd-partialtrack
	url = https://github.com/charlesneimog/pd-partialtrack.git
[submodule "Sources/lua/pd-upic"]
	path = Sources/lua/pd-upic
	url = https://github.com/charlesneimog/pd-upic.git
[submodule "Sources/lua/pd-orchidea"]
	path = Sources/lua/pd-orchidea
	url = https://github.com/charlesneimog/pd-orchidea.git
[submodule "Sources/pd-ambi"]
	path = Sources/pd-ambi
	url = https://github.com/charlesneimog/pd-ambi
[submodule "Sources/patcherize"]
	path = Sources/patcherize
	url = https://git.iem.at/pd/punish.git
